---
layout: page
description: ""
header-img: "img/home-bg.jpg"
---
<ul>
	{% for post in site.posts %}
	{% for tag in post.tags %}
	{% if tag == page.tag %}
		<div class="post-preview">
	    <a href="{{ post.url | prepend: site.baseurl }}">
	        <h4 class="post-title">
	            {{ post.title }}
	        </h4>
	        {% if post.subtitle %}
	        <h4 class="post-subtitle">
	            {{ post.subtitle }}
	        </h4>
	        {% endif %}
	    </a>
	    <p class="post-meta">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
	</div>
	<hr>
	{% endif %}
	{% endfor %}
	{% endfor %}
</ul>

